.descriptor {
  font-size: 12px;
 >div{
  padding-bottom: 20px;
  margin-left: 10px;
  text-align: left;
  color: white;

  //color: #5ab5ce;
  >span {
    text-align: right !important;
    float: right !important;
    padding-right: 10px;
  }
 } 
}
