<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <div class="topinfo">
        {{customizerData.description}}
        <span class="topright"> {{customizerData.additionalInfo}} </span>
    </div>
    <div class="main">
        <bar-chart [barChartData]="dataChild.barChartValues" [barChartLabels]="dataChild.barChartLabels"
            *ngIf="customizerData.bar"></bar-chart>
        <pie-chart [pieChartData]="dataChild.pieChartValues" [pieChartLabels]="dataChild.pieChartLabels"
            *ngIf="customizerData.pie"></pie-chart>
    </div>

</body>

</html>