
body {
    font-family: "Lato", sans-serif;
  }
 
.main {
    margin-left: 300px; /* Same as the width of the sidenav */
    margin-right: 300px;
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 100px 50px;
  } 
.topinfo{
    margin-top: 80px;
    text-align: left;
    margin-left: 140px;
}
.topright{
    margin-left: 360px;
}