

@import '../../assets/scss/common';

.login-wrap {  background: #fff;width: 1135px;border: red solid 0px;position: absolute;left:50%;top:50%;margin-left:-480px;margin-top:-300px; text-align: left;
	.box-1  {float: left;width:40%; background: #4db3d0;padding: 0px 0;border: red solid 0px;height: 600px;
		img {width: 100%;margin:0 auto; display: block    ;height: 600px;
        }
	 }
	.box-2  {float: left;width:47%;border: red solid 0px;padding:40px 50px 34px  95px;height: 530px;
		.row-1 {border: blue solid 0px;
			.col-1 {float: left;}
			.col-2 {float: right;padding-top:5px;
				a {display:inline-block;margin-left:15px;color:#3d4657;font-weight: 600;font-size: 14px}
			}
		}
		.row-2 {border: red solid 0px;margin-top:30px;
			.head-2 {font-weight: 500;font-size:34px;padding: 0;margin: 0;color:#3d4657; margin-top: 30px;}
		}
	    .row-3 {margin-top:0px;
			p {color:#74777d;font-size:15px;font-weight: normal; margin-top: 30px; margin-bottom: 15px;}
		}
		.row-4 {margin-top:0px;
			.form-control { background:transparent;border:none;box-shadow: none; border-bottom:#97a0b3 solid 1px;border-radius: 0;padding:21px 107px 0px 2px;font-size:18px;}
			.btn-primary {color: #fff;background-color:#4db3d0;border-color:#4db3d0;padding:12px 20px;border-radius: 30px;margin-top:20px;}
			.btn-default {color: #4db3d0; background-color: #fff; border-color:#4db3d0 ;padding:12px 20px;border-radius: 30px;margin-top:20px;}
			em {font-weight:normal; cursor: pointer;}

			::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
		      font-size: 16px;
			}

			:-ms-input-placeholder { /* Internet Explorer 10-11 */
				font-size: 16px;
			}

			::-ms-input-placeholder { /* Microsoft Edge */
				font-size: 16px;
			}


		}
		.row-5 {margin-top:40px;
			.form-control { background:transparent;border:none;box-shadow: none; border-bottom:#ccc solid 2px;border-radius: 0;padding:0 0 0 0; }
		}
		.row-6 {position: absolute;bottom:14px;

		}
		.row-7 {margin-top: 30px;
			span {color:#7b879e;display: inline-block;margin-top:4px;margin-left: 8px;font-size:14px;}

		}


	}
}


/*********************************************************/
/**************** Remember me Checkbox CSS ***************/
/*********************************************************/

em {font-style:normal;}
	label:hover input[type="radio"] + span,
label:hover input[type="checkbox"] + span:before {
 /* box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.04);*/
}
label:active input[type="radio"] + span,
label:active input[type="checkbox"] + span:before {
  /*box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.08);*/
}
label input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
}
label input[type="checkbox"] + span {
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  margin-right: 10px;
  border: 2px solid #aaa;
}
label input[type="checkbox"] + span:before {
  content: "";
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 22px;
  height: 22px;
  -webkit-transform: translatex(-50%) translatey(-50%);
          transform: translatex(-50%) translatey(-50%);
 /* transition: box-shadow 0.2s;*/
}
label input[type="checkbox"] + span > span {
  height: 100%;
  width: 100%;
}
label input[type="checkbox"] + span > span .checkmark-path {
  stroke-width: 3px;
  stroke-dasharray: 30;
  stroke-dashoffset: 30;
}
label input[type="checkbox"] + span > span:before {
  content: "";
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 13px;
  height: 13px;
  -webkit-transform: translate(-50%, -50%) scale3d(0, 0, 1);
          transform: translate(-50%, -50%) scale3d(0, 0, 1);
  transition: all 0.25s ease;
}
label input[type="checkbox"]:checked + span {
  border-color: #4db3d0;
  background-color: #4db3d0;
}
label input[type="checkbox"]:checked + span > span:before {
  -webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
          transform: translate(-50%, -50%) scale3d(1, 1, 1);
  -webkit-animation: shadow-pulse-center 0.25s ease;
          animation: shadow-pulse-center 0.25s ease;
}
label input[type="checkbox"]:checked + span > span .checkmark-path {
  -webkit-animation: checkdash 0.25s linear forwards;
          animation: checkdash 0.25s linear forwards;
}
label input[type="checkbox"]:focus + span:before {
  /*box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.06);*/
}
label input[type="radio"] {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
}
label input[type="radio"] + span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 22px;
  height: 22px;
  margin-right: 10px;
  border-radius: 100%;
  border: 2px solid #aaa;
  /*transition: box-shadow 0.2s;*/
}
label input[type="radio"] + span > span {
  border-radius: 100%;
  width: 13px;
  height: 13px;
  -webkit-transform: scale3d(0.1, 0.1, 1);
          transform: scale3d(0.1, 0.1, 1);
  transition: all 0.25s ease;
}
label input[type="radio"]:checked + span {
  border-color: #4db3d0;
}
label input[type="radio"]:checked + span > span {
  background-color: #4db3d0;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  display: block;
  -webkit-animation: shadow-pulse 0.25s ease;
          animation: shadow-pulse 0.25s ease;
}
label input[type="radio"]:focus + span {
 /* box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.06);*/
}
input{
  border:none !important;
  border-bottom: 1px solid #97a0b3  !important
}
@-webkit-keyframes shadow-pulse {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.06);
  }
  60% {
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.06);
  }
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.06);
  }
  60% {
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.06);
  }
}
@-webkit-keyframes shadow-pulse-center {
  0% {
    background-color: rgba(0, 0, 0, 0.06);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.06);
  }
  60% {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.2);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.06);
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.06);
  }
}
@keyframes shadow-pulse-center {
  0% {
    background-color: rgba(0, 0, 0, 0.06);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.06);
  }
  60% {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.2);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.06);
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.06);
  }
}
@-webkit-keyframes checkdash {
  from {
    stroke-dashoffset: 30;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes checkdash {
  from {
    stroke-dashoffset: 30;
  }
  to {
    stroke-dashoffset: 0;
  }
}

