.chart-widget-background {
  font-family: "Lato", sans-serif;
  border-radius: 25px;
  border: 2px;
  //background: gradient(left, #005382 0%, #abd6f0 100%);
  //background:#5ab5ce;
  //background-image: -webkit-linear-gradient(left, rgb(0, 83, 130) 0%, rgb(77, 174, 230) 100%);
  background-image: -webkit-linear-gradient(left, #65b6d6 0%, #65b6d6 100%);
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
}

.chart-widget-content {
  font-size: 14px;
  padding-top: 25px;
  padding-bottom: 20px;
}


.descriptor {
  padding-bottom: 20px;
  margin-left: 10px;
  text-align: left;
  color: white;

  //color: #5ab5ce;
  >span {
    text-align: right !important;
    margin-left: 70px;
    float: right;
    padding-right: 10px;
  }
}
