<div class="container" fxLayout="row" fxLayout.xs="column"
 fxLayoutWrap fxLayoutGap="0.2%" fxLayoutAlign="center">
        <div fxFlex="33%">
                <!-- <app-chart-renderer [reports]="chart.MonthlyPremium"></app-chart-renderer> -->
                <nb-premium-renderer></nb-premium-renderer>

        </div>
        <div fxFlex="33%">
                <!-- <app-chart-renderer [reports]="chart.SubmissionToBound"></app-chart-renderer> -->
                <bound-ratio-renderer></bound-ratio-renderer>

        </div>
        <div fxFlex="34%">
                <!-- <app-chart-renderer [reports]="chart.SubmissionToBound"></app-chart-renderer> -->
                <lob-nb-premium-renderer></lob-nb-premium-renderer>

        </div>
</div>
<div class="container" fxLayout="row" fxLayout.xs="column"
 fxLayoutWrap fxLayoutGap="0.2%" fxLayoutAlign="center">
        <div fxFlex="33%">
                <!-- <app-chart-renderer [reports]="chart.MonthlyPremium"></app-chart-renderer> -->
                <nb-premium-renderer></nb-premium-renderer>

        </div>
        <div fxFlex="33%">
                <!-- <app-chart-renderer [reports]="chart.SubmissionToBound"></app-chart-renderer> -->
                <bound-ratio-renderer></bound-ratio-renderer>

        </div>
        <div fxFlex="34%">
                <!-- <app-chart-renderer [reports]="chart.SubmissionToBound"></app-chart-renderer> -->
                <lob-nb-premium-renderer></lob-nb-premium-renderer>

        </div>
</div>
