div{
    padding-left: 20px;
    padding-right: 20px;
    color: #65b6d6 ;
}
.add-agent{
float:right;
}
.agency-title{
    color: #65b6d6 ;
}
table {
    width: 100%;
  }
th{
    color: #65b6d6 ;
}
.mat-icon {
    font-size: 20px;
  }