<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="sidenav">
    <img src="http://dev.cogitate.us/producerportal_web/assets/Images/client-logo.png" style="background-color:white;"
      height="50" width="185">
    <div>
      <mat-accordion>
        <mat-card (click)="changeComponent('dashboard',false)">Dashboard</mat-card>
        <mat-expansion-panel hideToggle="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Reports
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-card matInput (click)="changeComponent('premiumreports',true)">Premium Reports</mat-card>
          <mat-card matInput (click)="changeComponent('boundratio',true)">Bound Ratio</mat-card>
          <mat-card matInput (click)="changeComponent('carrierpremium',true)">Carrier Premium Reports</mat-card>
          <mat-card matInput (click)="changeComponent('pifreport',true)">PIF Report</mat-card>
          <mat-card matInput (click)="changeComponent('lobpremium',true)">LOB Premium Reports</mat-card>
          <mat-card matInput (click)="changeComponent('compare',true)">Comparision Reports</mat-card>
        </mat-expansion-panel>
        <mat-card (click)="changeComponent('agencyContact',false)">Agent Contacts</mat-card>
        <mat-card (click)="changeComponent('brochure',false)">Marketing Brochure</mat-card>
        <mat-card (click)="changeComponent('documents',false)">Policy Documents</mat-card>
      </mat-accordion>
    </div>
  </div>
  <div class="topnav">
    <div class="topnav-right">
      <label style='align-items:center'>{{AgencyName}}</label> 
      <label (click)="logOut()">Logout</label>
    </div>
  </div>
  <div class='main'>
    <div class="date-picker" *ngIf="renderComponent!='agencyContact'&&renderComponent!='brochure'&&renderComponent!='documents'">
      <div class="select-style">
        <select>
          <option value="Yearly">Yearly</option>
          <!-- <option value="warsawjs_2">Half-Yearly</option>
                  <option value="warsawjs_3">Monthly</option> -->
        </select>
      </div>
      <div class="select-style">
        <select [(ngModel)]="selectedYear" (change)="dsChange()">
          <option *ngFor="let x of years" [ngValue]="x">{{x}}</option>
        </select>
      </div>
    </div>

    <div class='allcharts' *ngIf="renderComponent=='dashboard'">
       
       <old-dashboard [fromDate]="fromDate.value" [toDate]="toDate.value"></old-dashboard> 
      
    </div>
    <div class='singlechart' *ngIf="userSpecificReport">
      <user-specific-reports [renderComponent]="renderComponent" [fromDate]="fromDate.value" [toDate]="toDate.value"></user-specific-reports>
    </div>
    <agency-details *ngIf="renderComponent=='agencyContact'"></agency-details>
    <marketing-brochure *ngIf="renderComponent=='brochure'"></marketing-brochure>
    <policy-documents *ngIf="renderComponent=='documents'"></policy-documents>
    <!-- <bc-line-chart *ngIf="renderComponent=='bcline'"></bc-line-chart> --> 
    <div class='singlechart'>
      <!--  <nb-premium-report *ngIf="renderComponent=='bcline'"></nb-premium-report> -->
     
    </div> <dashboard *ngIf="renderComponent=='bcline'"></dashboard>
   
    

  </div>
</body>
