
html,body {
    font-family: "Lato", sans-serif;
    color: #bbc8ce;
    
    height: 100%;
  }

  mat-expansion-panel-header {
    background-color: #65b6d6; 
    text-decoration: none;
    font-size: 15px;
    color: white;
    } mat-card{
      background-color: #65b6d6;    
      padding: 16px 8px 10px 16px;
      text-decoration: none;
      font-size: 15px;
      color: white;
      
    transition: none !important;
    box-shadow: none !important;
      }
      mat-expansion-panel-header{
        padding-left: 16px!important; // same as mat-card
      }
    mat-panel-title{
      text-align: left!important;
      padding-left: 1px;
    font-size: 15px;
    color: white;
    }
     mat-card:hover{
      background-color: rgb(154, 193, 212);
    color: white;
    cursor: pointer;
    }
    mat-expansion-panel{
      background-color: #65b6d6;  
    }
    mat-expansion-panel:hover{
      background-color: rgb(154, 193, 212);
    }
    ::ng-deep .mat-expansion-panel-body{
      padding:0px!important;
      >mat-card{
        padding-left: 35px;
        font-size: 12px;
        height: 15px;
        // background-color: white;
        // color:#65b6d6 ;    
      }
    }
  .sidenav {
    height: 100%;
    width: 185px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #0b496d ;
    background: #65b6d6 ;// linear-gradient(to top, #005382 0%, #018ad8 100%);
    overflow-x: hidden;
    >div{
        padding-top: 40px;
        >mat-sidenav-container{
            background-color: #0b496d ;
            height : 50%; 
           >mat-sidenav{
            background-color: #0b496d ;
           }
          }
        >mat-toolbar{
            background-color: #0b496d ;
        }
    }
  }

  .sidenav label {
    padding: 16px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
  }

  .sidenav label:hover {
   
    background-color: rgb(154, 193, 212);
    color: white;
    cursor: pointer;
  }
  
  .main {
      
    margin-left: 160px; 
    font-size: 28px; 
    padding: 10px 10px 10px 50px;
    color: #bbc8ce;
    >.date-picker{     
      margin-top: 40px;     
      font-size: 22px; 
      color:rgb(154, 193, 212);
      text-align: right!important; 
      >span{
        padding-left:  12px!important;
      }
    }
    >.allcharts{
      padding-left: 5px;   
      
    }
    >.singlechart{
      padding-left: 5px;  
      //height: 80%!important;
      width:80%;      
      //position: fixed;
    }
  }
  .topnav {
    //margin-left: 178px;
    height: 50px;
    overflow: hidden;    
    position: fixed;
    width: 100%;
    background: #65b6d6 ;
    //background:  linear-gradient(to left, #018ad8  0%, #0b496d 100%);
    padding-top: 0%;
    top: 0;
    left: 0;

  }
  
  .topnav label{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 15px;
  }
  
  .topnav label:hover {
    background-color: rgb(154, 193, 212);
    color: white;
  }
  
  .topnav label.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .topnav-right {
    float: right;
  }
 
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .side-container {
    position: absolute;
    height : 50%;   
    background:  linear-gradient(to top, #005382 0%, #018ad8 100%); 
    //padding-top: 100px;
  }



  .select-style {
    padding-top: 10px;
    padding-left: 10px;
    $select-padding: 5px;
    $select-padding-l: $select-padding * 1.4;
    $select-border: 1px solid;
    $select-border-color: rgb(82, 137, 163);
    $select-border-radius: 5px;
    $select-text-color: gray;
  
    $caret-size: 5px;
    $caret-color: $select-border-color;
    
    position: relative;
    display: inline-block;
    
    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 50%;
      margin-top: $caret-size * 0.3;
      right: $select-padding-l;
      width: 0;
      height: 0;
      border: $caret-size solid transparent;
      border-top-color: $caret-color;
    }
    
    select {
      color:  $select-text-color;
      display: inline-block;
      position: relative;
      box-shadow: none;
      appearance: none;
      padding: $select-padding ($caret-size * 3 + $select-padding-l) $select-padding $select-padding-l;
      border: $select-border;
      border-color: $select-border-color;
      border-radius: $select-border-radius;
      background: transparent;
      
      &:focus {
        outline: transparent;
      }
      
      &:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000;
      }
    }
  }